<div class="center">
    <h1>Trade Assets</h1>
    <div>
      <tr>
        <th>Asset Symbol</th>
        <th>Price</th>
        <th>Last Updated</th>
      </tr>
      <tr>
        <td>{{currentPrice?.assetSymbol}}</td>
        <td>{{currentPrice?.price}}</td>
        <td>{{currentPrice?.timestamp*1000 | date: 'dd/MM/yyyy hh:mm:ss' }} </td>
      </tr>
    </div>
    
    <div class="Trade Assets" style="border:1px solid rgb(44, 19, 19);margin-top:50px">
      <h2>Market Buy</h2>
      <form [formGroup]="buyForm" (ngSubmit)="buy()">
        <h2>Buy</h2>
        <input type="text" formControlName="buyAmount" class="form-control" placeholder="Buy Amount">
        <br>
        <button>Submit</button>
      </form>
    
      <form [formGroup]="sellForm" (ngSubmit)="sell()">
        <h2>Sell</h2>
        <input type="text" formControlName="sellAmount" class="form-control" placeholder="Sell Amount">
        <br>
    
        <button>Submit</button>
      </form>
    </div>
    
    <div style="border:1px solid black">
      <p>Asset Balance: {{balance?.assetBalance}} TTK</p>
      <p>Cash Balance: ${{balance?.cashBalance}} </p>
    </div>
    
    <div *ngIf="tradeDetails">
      <h1>Transactions</h1>
      <table>
          <tr>
            <th>Transaction ID</th>
            <th>Timestamp</th>
            <th>Asset Symbol</th>
            <th>Order Type</th>
            <th>Asset Price</th>
            <th>Asset Amount</th>
            <th>Cash Amount</th>
          </tr>
          <tr *ngFor="let transaction of newData">
            <td>{{ transaction.transactionId }} </td>
            <td>{{ transaction.timestamp*1000 | date: 'dd/MM/yyyy hh:mm:ss' }}</td>
            <td>{{ transaction.assetSymbol }}</td>
            <td>{{ transaction.orderType }}</td>
            <td>{{ transaction.assetPrice }}</td>
            <td>{{ transaction.assetAmount }}</td>
            <td>{{ transaction.cashAmount }}</td>
          </tr>
        </table>
    </div>
</div>
